.contact-form-container {
    max-width: 60vw; 
    margin: 10vh auto;
    padding: 5vh 0;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;    height: 50vh;
}

  .contact-info-section {
      flex: 0.5;
      padding: 0 5vw;
      border-left: 1px solid #eee;
    //   height: 10vh;

  
      h2 {
        margin-top: 0;
        margin-bottom: 15px;
        color: #333;
      }
  
      .sub-text {
        color: #777;
        line-height: 1.6;
        margin-bottom: 25px;
      }
  
      .info-item {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        color: #555;
  

        .icon {
          width: 20px;
          height: 20px;
          margin-right: 10px;
          opacity: 0.7;
        }
      }
  }

  .social-media-links{
      margin-top: 2vw;
      margin-left: 1vw;
    a {
      margin-right: 2vw;
    }
  }

@media screen and (max-width:700px) {
  .contact-form-container{
    max-width: 85%;
  }
}
