@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');


.what{
    background-image: url(../../assets//hero-bg2.jpg);
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: fit-content;
}

  .black-bg{
    height: 95vh;
  }

  .animation, .animation_layer {
    margin-top: -1vh;
    height: 100vh;
  }
  
  .animation{
    overflow-y: scroll;
    scrollbar-width:none; /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */  
    &::-webkit-scrollbar {
      display:none; /* Chrome, Safari */
    }
  }
  
  .animation_layer {
      // background-size: 100% 100%;
      width: 100%;
      position: fixed;
  }
  .animation_layer.parallax {
      position: fixed;
  }
  
  // #bluesky {
  //   width: 100vw;
  //   height: 130vh;
  //   // height: fit-content;
  //   position: fixed;
  //   background-image: url(../../assets//hero-bg2.jpg);
  //   background-repeat: no-repeat;
  //   background-size: cover;
  //   background-position: center;
  // }
  
  #trees {
    width: 100%;
    top: -2%;
    background-image: url(../../assets//trees-long2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


#hero-line{
  padding: 0;
  margin: 0;
}

.hero-text{
    margin-top: 30vh;
    margin-left: 10%;
    color: #87CEEB;
    width: 50%;
    font-size: clamp(1.5rem, -0.429rem + 3.81vw, 2rem);
}

  #hero-about {
    font-family: "Cedarville Cursive";
    font-style: italic;
    margin: 0;
    font-size: clamp(1.5rem, -0.429rem + 3.81vw, 5rem);

  }

  #hero-heading {
    margin-top: 0;
    font-weight: 600;
    margin-bottom: 15px;
    font-size: clamp(1.5rem, -0.429rem + 3.81vw, 2.5rem);
 }

  #hero-para {
    font-weight: 500;
    width: 70%;
    font-size: clamp(1rem, -0.429rem + 2.81vw, 1.2rem);
  }

@keyframes showTopText {
  0% { transform: translate3d(0, 100%, 0); }
  40%, 60% { transform: translate3d(0, 50%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
@keyframes showBottomText {
  0% { transform: translate3d(0, -100%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
.animated-title {
  position: absolute;
  // top: 50%;
  // left: 50%;
  transform: translate(-0%, -35%);
  height: 90vmin;
  width: 40vmin;
}
.animated-title > div {
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.animated-title > div div {
  font-size:5vmin;
  padding: 2vmin 0;
  position: absolute;
}
.animated-title > div div span {
  display: block;
}
.animated-title > div.text-top {
  border-bottom: 1vmin solid #3093d0;
  top: 0;
}
.animated-title > div.text-top div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}
.animated-title > div.text-top div span:first-child {
  color: #3583b3;
}
.animated-title > div.text-bottom {
  bottom: 0;
}
.animated-title > div.text-bottom div {
  animation: showBottomText 0.5s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}
  @media screen and (max-width:700px) {
    .hero-text{
      width: 90%;

      #hero-about{
        font-size: 3rem;
        margin-bottom: 3vh;
      }
    }
  }