@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');


.animation, .animation_layer {
	height: 130vh;
}

.animation {
      display: block;
      position: relative;
      z-index: 10;
  }
  
  .animation_layer {
      background-size: 100% 100%;
      width: 100%;
      position: fixed;
      overflow-y: hidden;
  }
  .animation_layer.parallax {
      position: fixed;
  }
  
  #bluesky {
    width: 100%;
    top: -12vh;
    margin-bottom:50vh ;
    height:120vh;
    background-repeat: no-repeat;
    background-image: url(../../assets//hero-background2.jpg);
  }
  
  #trees {
    // height: 130vh;
    width: 100%;
    top: -10vh;
    background-image: url(../../assets//trees.png);
    background-position: center;
    background-repeat: no-repeat;
  }

 #thunder {
    height: 90vh;
    width: 100%;
    top: 110vh;
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    // background-image: url(../../assets/thunder3.png);
    background-image: linear-gradient(to bottom, black 15%, #002c51 70%, );
  }

.hero-text{
    margin-top: 35vh;
    margin-left: 10%;
    color: #87CEEB;
    width: 50%;
}

  #hero-about {
    font-family: "Cedarville Cursive";
    font-style: italic;
    margin: 0;
    font-size: 5rem;
  }

  #hero-heading {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 15px;
  }

  #hero-para {
    font-weight: 500;
    width: 70%;
    font-size: 1rem;
  }

