@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');


  .animation, .animation_layer {
    height: 120vh;
  }
  
  .animation{
    overflow-y: scroll;
    scrollbar-width:none; /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */  
    &::-webkit-scrollbar {
      display:none; /* Chrome, Safari */
    }
  }
  
  .animation_layer {
      background-size: 100% 100%;
      width: 100%;
      position: fixed;
  }
  .animation_layer.parallax {
      position: fixed;
  }
  
  #bluesky {
    height: 120vh;
    width: 100vw;
    top: -18%;
    background-image: url(../../assets//hero-background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  #trees {
    width: 100%;
    top: -12%;
    background-image: url(../../assets//trees.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


#hero-line{
  padding: 0;
  margin: 0;
}

.hero-text{
    margin-top: 30vh;
    margin-left: 10%;
    color: #87CEEB;
    width: 50%;
    font-size: clamp(1.5rem, -0.429rem + 3.81vw, 2rem);
}

  #hero-about {
    font-family: "Cedarville Cursive";
    font-style: italic;
    margin: 0;
    font-size: clamp(1.5rem, -0.429rem + 3.81vw, 5rem);

  }

  #hero-heading {
    margin-top: 0;
    font-weight: 600;
    margin-bottom: 15px;
    font-size: clamp(1.5rem, -0.429rem + 3.81vw, 2.5rem);
 }

  #hero-para {
    font-weight: 500;
    width: 70%;
    font-size: clamp(1rem, -0.429rem + 2.81vw, 1.2rem);
  }

