@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

.skills{
    height: 95vh;
    width: 100%;
    margin-top: -20vh;
    background-image: linear-gradient(to bottom, black 15%, #002c51 70%, );
}

.qualification{
    margin-left: 8%;
    font-size: 1.2rem;
    color: #87CEEB;
  }

.languages{
    margin-top: 20vh;
    margin-left: 70%;
    font-size: 1.2rem;
    color: #87CEEB;
  }

.qualification h2{
  font-family: "Cedarville cursive";
  font-size: 3rem;
}


.languages h2{
  font-family: "Cedarville cursive";
  font-size: 3rem;
}