@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

.skills{
    // position: relative;
    // margin-top: 500px;
    padding-top: 10vh;
    height: 95vh;
    width: 100%;
    margin-top: -30vh;
    justify-content: space-between;
    background-image: linear-gradient(to bottom, black 15%, #002c51 70%, );
}

.qualification{
    // position: absolute;
    margin-left: 10%;
    font-size: 1.2rem;
    color: #87CEEB;
  }

.languages{
    position: absolute;
    right: 10%;
    font-size: 1.2rem;
    color: #87CEEB;
    padding-left: 10%;
  }

.qualification h2{
  font-family: "Cedarville cursive";
  font-size: 3rem;
}


.languages h2{
  font-family: "Cedarville cursive";
  font-size: 3rem;
}